* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    margin: 0;
    background-color: #435165;
}
.login {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}
.login h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.login h2 {
    text-align: center;
    color: #5b6574;
    font-size: 16px;
    padding: 0;
}
.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
.login form input[type="submit"] {
    width: 100%;
    padding: 15px;
   margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
  background-color: #2868c7;
    transition: background-color 0.2s;
}

.login a {
    flex: 1;
    font-size: 12px;
  }

.alter {
    width: 500px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}
.alter h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.alter form {
    justify-content: center;
    padding-top: 20px;
}
.alter form label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3274d6;
    font-weight: bold;
    color: #ffffff;
}
.alter form input[type="submit"] {
    justify-content: center;
    width: 100%;
    padding: 15px;
   margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
.alter form input[type="submit"]:hover {
    justify-content: center;
    background-color: #2868c7;
    transition: background-color 0.2s;
}

.navtop {
	background-color: #2f3947;
	height: 60px;
	width: 100%;
    border: 0;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
}
.navtop div {
	display: flex;
	height: 100%;
}
.navtop div h1, .navtop div a {
    top: 0;
    left: 0;
	display: inline-flex;
	align-items: center;
}

.navtop div img {
	padding: 0;
	margin: 5px;
	background-color: #eaebed;

}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
	margin: 0;
	color: #eaebed;
	font-weight: normal;
}

.navtop div h4 {
    font-size: 12px;
    padding: 0;
    padding-top: 24px;
	margin: 0 10px 0;
	color: #eaebed;
	font-weight: normal;
}

.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: #c1c4c8;
	font-weight: bold;
}
.navtop div a i {
	padding: 2px 8px 0 0;
}
.navtop div a:hover {
	color: #eaebed;
}
body.loggedin {
	background-color: #f3f4f7;
}

.navside {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 60px; /* Stay at the top */
    left: 0;
    background-color: #2f3947; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  .navside a {
	padding: 5px 20px;
	text-decoration: none;
	color: #c1c4c8;
	font-weight: bold;
    display: block;
  }
  
  .navside a:hover {
    color: #f1f1f1;
  }

  .navside h2 {
    font-size: 16px;
	padding: 5px 20px;
	margin: 0;
	color: #eaebed;
  }

.content {
    padding-top: 60px;
    padding-left: 60px;
    margin: 0 auto;
    margin-left: 160px;
}
.content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
}
.content > p, .content > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
	background-color: #fff;
}
.content > p table td, .content > div table td {
	padding: 5px;
}
.content > p table td:first-child, .content > div table td:first-child {
	font-weight: bold;
	color: #4a536e;
	padding-right: 15px;
}
.content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}

.register {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}
.register h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.register form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
   height: 50px;
    background-color: #3274d6;
    color: #ffffff;
}
.register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
.register form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #3274d6;
   border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
.register form input[type="submit"]:hover {
  background-color: #2868c7;
    transition: background-color 0.2s;
}

.float-container {
	padding: 5px;
    margin: 0 0 10px 0;
    height: 800px;
        
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
}  

.filters form {
    display: inline;
}